<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Available on:</strong>
  <%= @shop.available_on %>
</p>

<p>
  <strong>Taxons:</strong>
  <ul>
    <% @shop.taxons.each do |taxon| -%>
      <%= tag.li taxon.name %>
    <% end -%>
  </ul>
</p>

<%= link_to 'Edit', edit_admin_shop_path(@shop) %> |
<%= link_to 'Back', admin_shops_path %>
